@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post">
            Username: <input type="text" id="UserName" name="UserName" /><br />
            Password: <input type="password" id="UserPassword" name="UserPassword" /><br />
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
